<div id="pricing" class="section pricing-section">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">Precios</h2>
            <hr class="lines">
            <p class="section-subtitle">Seleccione la licencia que mas se ajuste a sus necesidades, no dude en
                contactarnos si requiere una cotización diferente.</p>
        </div>

        <div class="row pricing-tables">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="pricing-table">
                    <div class="pricing-details">
                        <h2>Demo</h2>
                        <span>$0</span>
                        <ul>
                            <li>
                                <%= demo_license.HotSpot_Devices %> Dispositivo wifi
                            </li>
                            <li>
                                <%= demo_license.App_Users %> Usuario de sistema
                            </li>
                            <li>
                                <%= demo_license.App_Profiles %> Perfil de sistema
                            </li>
                            <li>
                                <%= demo_license.HotSpot_Users %> Usuarios HotSpot
                            </li>
                            <li>No puede eliminar usuarios</li>
                            <li>No puede desactivar usuarios</li>
                            <li>No puede reimprimir credenciales</li>
                            <li>Marca de agua</li>
                            <li>Varias Pc</li>
                            <li>15 días de vigencia</li>
                        </ul>
                    </div>
                    <div class="plan-button">
                        <a href="https://kwh-files.nyc3.digitaloceanspaces.com/kaz-wifi-hotspot.msi" download
                            class="btn btn-common">Descargar</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="pricing-table">
                    <div class="pricing-details">
                        <h2>Activación</h2>
                        <span>$987.00</span>
                        <ul>
                            <li>Dispositivos wifi ilimitados</li>
                            <li>Usuarios de sistema ilimitados</li>
                            <li>Perfils de sistemas ilimitados</li>
                            <li>Usuarios hotspot ilimitados</li>
                            <li>Eliminar usuarios</li>
                            <li>Desactivar usuarios</li>
                            <li>Reimprimir credenciales</li>
                            <li>Sin marca de agua</li>
                            <li>Pc individual</li>
                            <li>5 años</li>
                        </ul>
                    </div>
                    <div class="plan-button">
                        <a href="#" class="btn btn-common">Comprar</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="pricing-table">
                    <div class="pricing-details">
                        <h2>Adicionales</h2>
                        <span>$21.00</span>
                        <p>Adquiera licencias adicionales una vez haya realizado la compra de la aplicación</p>
                        <p>Cada licencia es por computadora</p>
                        <p>Instale la versión demo y luego activar con la licencia que se ha proporcionado</p>
                    </div>
                    <div class="plan-button">
                        <a href="#" class="btn btn-common">Contactar</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>