<section id="blog" class="section">
    <hr />
    <div class="container">
        <div class="section-header wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Acerca de Kaz</h4>
                        <p>Es una aplicación para gestionar la conexión a su red wifi a traves de usuarios HotSpot.</p>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card" style="width: 18rem;color: darkcyan;">
                            <img class="card-img-top rounded" src="/images/growits_logo_v1.png" alt="logo">
                            <div class="card-body">
                                <a href="https://www.growits.com" target="_blank" rel="noopener noreferrer">growits ©
                                    2019</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card" style="width: 18rem;color: darkcyan;">
                            <img class="card-img-top rounded" src="flashnethn_logo.jpeg" alt="logo">
                            <div class="card-body">
                                <a href="https://www.facebook.com/flashnethn" target="_blank"
                                    rel="noopener noreferrer">FlashNet ®
                                    2018</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>