<section id="contact" class="section" data-stellar-background-ratio="-0.2">
    <div class="contact-form">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <div class="contact-us">
                        <h3>Permitanos ayudarle</h3>
                        <h6>Para más información :</h6>
                        <div class="contact-address">
                            <p>Costa Verde Villas 2, 15 Calle S.E. | San Pedro Sula, Cortés 21103</p>
                            <p class="email">E-mail:
                                <span> <a href="mailto:info@kaz-wifi.com?subject=" Solicitar%20información%20adicional"
                                        target="_blank" rel="noopener noreferrer"
                                        style="color: #61D2B4;">(info@kaz-wifi.com)</a></span>
                            </p>
                        </div>
                        <div class="social-icons">
                            <ul>
                                <li class="instagram">
                                    <a id="ig" href="https://www.instagram.com/kaz.wifi/" target="_blank"
                                        rel="noopener noreferrer">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="linkedin">
                                    <a id="lkn"
                                        href="https://www.linkedin.com/products/growits-kaz-wifi-hotspot?trk=organization_guest_main_product_card"
                                        target="_blank" rel="noopener noreferrer">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <div class="contact-block">
                        <div id="contactForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="txtcontact_message"
                                            placeholder="* Nombre y Apellido" required
                                            data-error="Por favor ingrese su nombre" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="txtemail_message"
                                            placeholder="* Correo" required
                                            data-error="Por favor ingresar su correo electrónico" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="txtphone_message"
                                            placeholder="Teléfonos" required
                                            data-error="Por favor ingrese un número telefónico">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="txtcompany_message"
                                            placeholder="* Empresa" required
                                            data-error="Por favor ingrese el nombre de su empresa" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" id="txtmessage_message"
                                            placeholder="* Cuentenos lo que desea saber" rows="8"
                                            data-error="Por favor escriba un mensaje" required></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="submit-button text-center">
                                        <button class="btn btn-common" style="cursor: pointer;" id="submit_contact"
                                            name="contact" onclick="SendMessage()" value="contact">Enviar
                                            mensaje</button>
                                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>