<section id="features" class="section" data-stellar-background-ratio="0.2">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">Funciones principales</h2>
            <hr class="lines">
            <p class="section-subtitle">Destacamos algunas de las funcionalidades</p>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 col-xs-12 box-item">
                            <span class="icon">
                                <i class="lnr lnr-rocket"></i>
                            </span>
                            <div class="text">
                                <h4>Multiples dispositivos</h4>
                                <p>Agregue la cantidad de dispositivos que sean necesarios para su negocio</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-xs-12 box-item">
                            <span class="icon">
                                <i class="lnr lnr-users"></i>
                            </span>
                            <div class="text">
                                <h4>Perfiles y Usuarios hotspot</h4>
                                <p>Agrupe los usuarios de acuerdo a su velocidad y tiempo de navegación permitida</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-xs-12 box-item">
                            <span class="icon">
                                <i class="lnr lnr-smile"></i>
                            </span>
                            <div class="text">
                                <h4>Perfiles y usuarios de sistema</h4>
                                <p>También puede crear usuarios con diferentes privilegios para acceder a la aplicación
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-xs-12 box-item">
                            <span class="icon">
                                <i class="lnr lnr-chart-bars"></i>
                            </span>
                            <div class="text">
                                <h4>Tablero de conexiones</h4>
                                <p>Visualice en tiempo real las conexiones activas, consumo de datos y diagnóstico de
                                    los dispositivos wifi</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-xs-12 box-item">
                            <span class="icon">
                                <i class="lnr lnr-license"></i>
                            </span>
                            <div class="text">
                                <h4>Reportes en Dispositivos</h4>
                                <p>Consulte la información de perfiles y usuarios creados en cada dispostivo</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-xs-12 box-item">
                            <span class="icon">
                                <i class="lnr lnr-thumbs-up"></i>
                            </span>
                            <div class="text">
                                <h4>Reportes Históricos</h4>
                                <p>La información de los usuarios siempre estará guardada aunque sea eliminada de los
                                    dispositivos</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>