<section id="portfolios" class="section" data-stellar-background-ratio="0.1">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">Visualiza</h2>
            <hr class="lines">
            <h6 class="text-center">Funcionalidades de la aplicación</h6>
        </div>

        <div class="row">
            <div class="row fx-gap" style="margin: 15px">
                <a href="https://res.cloudinary.com/growits/image/upload/v1619670594/kaz-wifi/login_1_ubjli7.png"
                    data-toggle="lightbox" data-gallery="gallery" class="col-md-3 -fx-gal-image-thumb">
                    <img src="https://res.cloudinary.com/growits/image/upload/c_thumb,w_250,g_face/v1619670594/kaz-wifi/login_1_ubjli7.png"
                        class="lazyload img-fluid rounded" width="250" height="148" alt="Login">
                </a>
                <a href="https://res.cloudinary.com/growits/image/upload/v1619670594/kaz-wifi/inicio_1_jese8k.png"
                    data-toggle="lightbox" data-gallery="gallery" class="col-md-3 -fx-gal-image-thumb">
                    <img src="https://res.cloudinary.com/growits/image/upload/c_thumb,w_250,g_face/v1619670594/kaz-wifi/inicio_1_jese8k.png"
                        class="lazyload img-fluid rounded" width="250" height="148" alt="Inicio">
                </a>

                <a href="https://res.cloudinary.com/growits/image/upload/v1619670593/kaz-wifi/licencias_1_c5twfa.png"
                    data-toggle="lightbox" data-gallery="gallery" class="col-md-3 -fx-gal-image-thumb">
                    <img src="https://res.cloudinary.com/growits/image/upload/c_thumb,w_250,g_face/v1619670593/kaz-wifi/licencias_1_c5twfa.png"
                        class="lazyload img-fluid rounded" width="250" height="148" alt="Licencias">
                </a>
                <a href="https://res.cloudinary.com/growits/image/upload/v1619670594/kaz-wifi/licencias_2_yg6pga.png"
                    data-toggle="lightbox" data-gallery="gallery" class="col-md-3 -fx-gal-image-thumb">
                    <img src="https://res.cloudinary.com/growits/image/upload/c_thumb,w_250,g_face/v1619670594/kaz-wifi/licencias_2_yg6pga.png"
                        class="lazyload img-fluid rounded" width="250" height="148" alt="Ingresar Código de licencia">
                </a>
            </div>
            <div class="row fx-gap" style="margin: 15px ">

                <a href="https://res.cloudinary.com/growits/image/upload/v1619670593/kaz-wifi/licencias_3_xbq593.png"
                    data-toggle="lightbox" data-gallery="gallery" class="col-md-3 -fx-gal-image-thumb">
                    <img src="https://res.cloudinary.com/growits/image/upload/c_thumb,w_250,g_face/v1619670593/kaz-wifi/licencias_3_xbq593.png"
                        class="lazyload img-fluid rounded" width="250" height="148"
                        alt="Ingresar Código Off-line de licencia">
                </a>
                <a href="https://res.cloudinary.com/growits/image/upload/v1619670593/kaz-wifi/perfil_sistema_1_rzf1dv.png"
                    data-toggle="lightbox" data-gallery="gallery" class="col-md-3 -fx-gal-image-thumb">
                    <img src="https://res.cloudinary.com/growits/image/upload/c_thumb,w_250,g_face/v1619670593/kaz-wifi/perfil_sistema_1_rzf1dv.png"
                        class="lazyload img-fluid rounded" width="250" height="148" alt="Perfil de sistema">
                </a>
                <a href="https://res.cloudinary.com/growits/image/upload/v1619670593/kaz-wifi/usuario_sistema_1_knj8y5.png"
                    data-toggle="lightbox" data-gallery="gallery" class="col-md-3 -fx-gal-image-thumb">
                    <img src="https://res.cloudinary.com/growits/image/upload/c_thumb,w_250,g_face/v1619670593/kaz-wifi/usuario_sistema_1_knj8y5.png"
                        class="lazyload img-fluid rounded" width="250" height="148" alt="Usuario de sistema">
                </a>
                <a href="https://res.cloudinary.com/growits/image/upload/v1619670593/kaz-wifi/formato_1_szy7at.png"
                    data-toggle="lightbox" data-gallery="gallery" class="col-md-3 -fx-gal-image-thumb">
                    <img src="https://res.cloudinary.com/growits/image/upload/c_thumb,w_250,g_face/v1619670593/kaz-wifi/formato_1_szy7at.png"
                        class="lazyload img-fluid rounded" width="250" height="148" alt="Formato de impresión">
                </a>
            </div>
            <div class="row fx-gap" style="margin: 15px">

                <a href="https://res.cloudinary.com/growits/image/upload/v1619670593/kaz-wifi/formato_2_gevdll.png"
                    data-toggle="lightbox" data-gallery="gallery" class="col-md-3 -fx-gal-image-thumb">
                    <img src="https://res.cloudinary.com/growits/image/upload/c_thumb,w_250,h_148,g_face/v1619670593/kaz-wifi/formato_2_gevdll.png"
                        class="lazyload img-fluid rounded" width="250" height="148" alt="Diseño Formato de impresión">
                </a>
                <a href="https://res.cloudinary.com/growits/image/upload/v1619670593/kaz-wifi/dispositivos_1_zmwbbs.png"
                    data-toggle="lightbox" data-gallery="gallery" class="col-md-3 -fx-gal-image-thumb">
                    <img src="https://res.cloudinary.com/growits/image/upload/c_thumb,w_250,g_face/v1619670593/kaz-wifi/dispositivos_1_zmwbbs.png"
                        class="lazyload img-fluid rounded" width="250" height="148" alt="Dispositivos de Red">
                </a>
                <a href="https://res.cloudinary.com/growits/image/upload/v1619670593/kaz-wifi/perfil_hostspot_1_go83kt.png"
                    data-toggle="lightbox" data-gallery="gallery" class="col-md-3 -fx-gal-image-thumb">
                    <img src="https://res.cloudinary.com/growits/image/upload/c_thumb,w_250,g_face/v1619670593/kaz-wifi/perfil_hostspot_1_go83kt.png"
                        class="lazyload img-fluid rounded" width="250" height="148" alt="Perfiles Hotspot">
                </a>
                <a href="https://res.cloudinary.com/growits/image/upload/v1619670593/kaz-wifi/usuario_hostspot_a0obvj.png"
                    data-toggle="lightbox" data-gallery="gallery" class="col-md-3 -fx-gal-image-thumb">
                    <img src="https://res.cloudinary.com/growits/image/upload/c_thumb,w_250,g_face/v1619670593/kaz-wifi/usuario_hostspot_a0obvj.png"
                        class="lazyload img-fluid rounded" width="250" height="148" alt="Usuarios Hotspot">
                </a>
            </div>
            <div class="row fx-gap" style="margin: 15px">

                <a href="https://res.cloudinary.com/growits/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1619670593/kaz-wifi/tablero_1_cweh3q.png"
                    data-toggle="lightbox" data-gallery="gallery" class="col-md-3 -fx-gal-image-thumb">
                    <img src="https://res.cloudinary.com/growits/image/upload/c_thumb,w_250,g_face/v1619670593/kaz-wifi/tablero_1_cweh3q.png"
                        class="lazyload img-fluid rounded" width="250" height="148" alt="Tablero Informativo">
                </a>
                <a href="https://res.cloudinary.com/growits/image/upload/v1619670593/kaz-wifi/perfil_hostspot_tiempo_real_a7lmxt.png"
                    data-toggle="lightbox" data-gallery="gallery" class="col-md-3 -fx-gal-image-thumb">
                    <img src="https://res.cloudinary.com/growits/image/upload/c_thumb,w_250,g_face/v1619670593/kaz-wifi/perfil_hostspot_tiempo_real_a7lmxt.png"
                        class="lazyload img-fluid rounded" width="250" height="148" alt="Perfiles en tiempo real">
                </a>
                <a href="https://res.cloudinary.com/growits/image/upload/v1619670593/kaz-wifi/historico_perfiles_hotspot_1_epvpli.png"
                    data-toggle="lightbox" data-gallery="gallery" class="col-md-3 -fx-gal-image-thumb">
                    <img src="https://res.cloudinary.com/growits/image/upload/c_thumb,w_250,g_face/v1619670593/kaz-wifi/historico_perfiles_hotspot_1_epvpli.png"
                        class="lazyload img-fluid rounded" width="250" height="148" alt="Historial de Perfiles Hotspot">
                </a>

                <a href="https://res.cloudinary.com/growits/image/upload/v1619670593/kaz-wifi/historico_usuarios_hostspot_1_bxpvjc.png"
                    data-toggle="lightbox" data-gallery="gallery" class="col-md-3 -fx-gal-image-thumb">
                    <img src="https://res.cloudinary.com/growits/image/upload/c_thumb,w_250,g_face/v1619670593/kaz-wifi/historico_usuarios_hostspot_1_bxpvjc.png"
                        class="lazyload img-fluid rounded" width="250" height="148" alt="Historial de Usuarios Hotspot">
                </a>
            </div>

        </div>
    </div>
</section>

<style>
    .row_wall {
        margin: 15px;
    }
</style>