<section id="portfolios" class="section">
    <!-- Container Starts -->
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">Visualiza</h2>
            <hr class="lines">
            <p class="section-subtitle">Características de la aplicación</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="controls text-center">
                    <a class="filter active btn btn-common" data-filter="all">
                        Todas
                    </a>
                    <a class="filter btn btn-common" data-filter=".design">
                        Administración
                    </a>
                    <a class="filter btn btn-common" data-filter=".development">
                        Wifi
                    </a>
                    <a class="filter btn btn-common" data-filter=".print">
                        Reportes
                    </a>
                </div>
            </div>
            <div id="portfolio" class="row">
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="img/features/admin/s1.png" alt="" />
                            <a class="overlay lightbox" href="img/features/admin/s1.png">
                                <i class="lnr lnr-eye item-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="img/features/admin/s2.png" alt="" />
                            <a class="overlay lightbox" href="img/features/admin/s2.png">
                                <i class="lnr lnr-eye item-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="img/features/admin/s3.png" alt="" />
                            <a class="overlay lightbox" href="img/features/admin/s3.png">
                                <i class="lnr lnr-eye item-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="img/features/admin/s4.png" alt="" />
                            <a class="overlay lightbox" href="img/features/admin/s4.png">
                                <i class="lnr lnr-eye item-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="img/features/admin/s5.png" alt="" />
                            <a class="overlay lightbox" href="img/features/admin/s5.png">
                                <i class="lnr lnr-eye item-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="img/features/admin/s6.png" alt="" />
                            <a class="overlay lightbox" href="img/features/admin/s6.png">
                                <i class="lnr lnr-eye item-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="img/features/wifi/s1.png" alt="" />
                            <a class="overlay lightbox" href="img/features/wifi/s.png">
                                <i class="lnr lnr-eye item-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="img/features/wifi/s2.png" alt="" />
                            <a class="overlay lightbox" href="img/features/wifi/s2.png">
                                <i class="lnr lnr-eye item-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="img/features/wifi/s3.png" alt="" />
                            <a class="overlay lightbox" href="img/features/wifi/s3.png">
                                <i class="lnr lnr-eye item-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix print">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="img/features/reports/s1.png" alt="" />
                            <a class="overlay lightbox" href="img/features/reports/s1.png">
                                <i class="lnr lnr-eye item-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix print">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="img/features/reports/s2.png" alt="" />
                            <a class="overlay lightbox" href="img/features/reports/s2.png">
                                <i class="lnr lnr-eye item-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix print">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="img/features/reports/s3.png" alt="" />
                            <a class="overlay lightbox" href="img/features/reports/s3.png">
                                <i class="lnr lnr-eye item-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>