<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <ul class="footer-links">
                    <li>
                        <!-- <a href="/cuenta">Mi cuenta</a> -->
                        <a href="/acerca">Acerca</a>
                        <a href="/terminos">Terminos de uso</a>
                        <a href="/ayuda">Centro de ayuda</a>
                        <a href="/blog">Blog</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="copyright">
                    <p>Derechos reservados &copy; 2019 - <a rel="nofollow noreferrer noopener"
                            href="https://www.growits.com" target="_blank" rel="noopener noreferrer">growits</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>