<title>
    <%= page %>
</title>

<meta charset="utf-8">
<link rel="icon" href="./images/kaz_logo_wifi.png">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="active-menu" content="<%= menuId %>">
<meta name="author" content="growits">
<meta name="version" content="<%= version %>">
<meta name="keywords" content="Wifi,Hotspot,MikroTik,Routers">
<meta name="description"
    content="Kaz WiFi HotSpot permite gestionar accesos y limites de su red wifi de una manera simple e intuitiva">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="./css/bootstrap.min.css" async>
<link rel="stylesheet" href="./css/font-awesome.min.css" async>
<link rel="stylesheet" href="./css/line-icons.css" async>
<link rel="stylesheet" href="./css/owl.carousel.css" async>
<link rel="stylesheet" href="./css/owl.theme.css" async>
<link rel="stylesheet" href="./css/nivo-lightbox.css" async>
<link rel="stylesheet" href="./css/magnific-popup.css" async>
<link rel="stylesheet" href="./css/slicknav.css" async>
<link rel="stylesheet" href="./css/animate.css">
<link rel="stylesheet" href="./css/main.css">
<link rel="stylesheet" href="./css/responsive.css" async>
<link rel="stylesheet" href="./css/ekko-lightbox.css" async>
<link rel="stylesheet" href="./css/borderless.scss" async>
<link rel="stylesheet" href="./css/image-gallery.css" async>