<title>
    <%= page %>
</title>

<meta charset="utf-8">
<link rel="icon" href="./images/kaz_logo_sm.png">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="active-menu" content="<%= menuId %>">
<meta name="author" content="growits">
<meta name="keywords" content="Wifi,Hotspot,MikroTik,Routers">
<meta name="description"
    content="Kaz WiFi HotSpot permite gestionar accesos y limites de su red wifi de una manera simple e intuitiva">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="./www/css/bootstrap.min.css.br" async>
<link rel="stylesheet" href="./www/css/font-awesome.min.css.br" async>
<link rel="stylesheet" href="./www/css/line-icons.css.br" async>
<link rel="stylesheet" href="./www/css/owl.carousel.css.br" async>
<link rel="stylesheet" href="./www/css/owl.theme.css.br" async>
<link rel="stylesheet" href="./www/css/nivo-lightbox.css.br" async>
<link rel="stylesheet" href="./www/css/magnific-popup.css.br" async>
<link rel="stylesheet" href="./www/css/slicknav.css.br" async>
<link rel="stylesheet" href="./www/css/animate.css.br" async>
<link rel="stylesheet" href="./www/css/main.css.br" async>
<link rel="stylesheet" href="./www/css/responsive.css.br" async>
<link rel="stylesheet" href="./www/css/ekko-lightbox.css.br" async>
<link rel="stylesheet" href="./css/borderless.scss" async>