<header id="inicial" data-stellar-background-ratio="0.5">
    <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo" style="background-color: white;">
        <div class="container" >
            <div>
                <a id="logo" href="/" class="navbar-brand">
                    <img class="img-fulid" src="./images/kaz_logo.png" alt="Logo" width="106" height="53">
                </a>
            </div>
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="lnr lnr-menu"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="main-navbar">
                <ul class="navbar-nav mr-auto w-100 justify-content-end">
                    <li class="nav-item" >
                        <a class="nav-link page-scroll" style="color: #343a40;" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" style="color: #343a40;" href="/#services">¿Qué es?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" style="color: #343a40;" href="/#revenue">Beneficios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" style="color: #343a40;" href="/#features">Funcionalidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" style="color: #343a40;" href="/#precios">Precios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" style="color: #343a40;" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" style="color: #343a40;" href="/#contact">Contáctenos</a>
                    </li>
                    <li class="nav-item">
                        <!-- <a class="nav-link page-scroll" style="color: #343a40;" style="color: 343a40 !important;" href="<%= faqPage === true ? '/faq' : '/faq' %>">Ayuda</a> -->
                        <a class="nav-link page-scroll" style="color: #343a40;" href="/ayuda">Ayuda</a>
                    </li>
                </ul>
            </div>
        </div>

        <ul class="mobile-menu" id="nav">
            <li>
                <a class="nav-link page-scroll" style="color: #343a40;" href="/">Inicio</a>
            </li>
            <li>
                <a class="nav-link page-scroll" style="color: #343a40;" href="/#services">¿Qué es?</a>
            </li>
            <li>
                <a class="nav-link page-scroll" style="color: #343a40;" href="/#revenue">Beneficios</a>
            </li>
            <li>
                <a class="nav-link page-scroll" style="color: #343a40;" href="/#features">Funcionalidades</a>
            </li>
            <li>
                <a class="nav-link page-scroll" style="color: #343a40;" href="/#precios">Precios</a>
            </li>
            <li>
                <a class="nav-link page-scroll" style="color: #343a40;" href="/blog">Blog</a>
            </li>
            <li>
                <a class="nav-link page-scroll" style="color: #343a40;" href="/#contact">Contáctenos</a>
            </li>
            <li>
                <a class="nav-link page-scroll" style="color: #343a40;" href="/ayuda">Ayuda</a>
            </li>
        </ul>
    </nav>
    </div>

</header>
<style>
    custom_a{
          color: #343a40; 
    }
</style>