<div id="revenue" class="section" data-stellar-background-ratio="0.1">

    <div class="container">
        <div class="row justify-content-center">
            <h1 style="color: white;">Beneficios</h1>
        </div>
    </div>


    <div class="container">
        <div class="row justify-content-center">
            <div class="row container">
                <div class="container-fluid content-row">
                    <div class="row">

                        <div class="col-sm card h-101" style="margin: 1%;padding-top: 25px;">
                            <h6 class="text-center">Principales Beneficios</h6>
                            <div class="section-header">
                                <hr class="lines">
                            </div>
                            <div class="card card-border border-success shadow-lg"
                                style="border-color: transparent !important">
                                <div class="card-body">
                                    <div class="list-group list-group-flush">
                                        <div class="list-group-item d-flex align-items-center">
                                            <div class="mr-auto">
                                                <p class="font-weight-bold mb-1">
                                                    Marketing
                                                </p>
                                                <p class="font-size-sm text-muted mb-0">
                                                    Utilice su wifi como una herramienta de mercado
                                                </p>
                                            </div>
                                            <div class="badge badge-rounded-circle badge-success-soft ml-4">
                                                <i class="fe fe-check"></i>
                                            </div>
                                        </div>
                                        <div class="list-group-item d-flex align-items-center">
                                            <div class="mr-auto">
                                                <p class="font-weight-bold mb-1">
                                                    Saturación de la red
                                                </p>
                                                <p class="font-size-sm text-muted mb-0">
                                                    Reduzca las quejas por conexiones lentas
                                                </p>
                                            </div>
                                            <div class="badge badge-rounded-circle badge-success-soft ml-4">
                                                <i class="fe fe-check"></i>
                                            </div>
                                        </div>
                                        <div class="list-group-item d-flex align-items-center">
                                            <div class="mr-auto">
                                                <p class="font-weight-bold mb-1">
                                                    Equilibrio
                                                </p>
                                                <p class="font-size-sm text-muted mb-0">
                                                    No permita que un cliente consuma el ancho de banda de
                                                    los demás
                                                </p>
                                            </div>
                                            <div class="badge badge-rounded-circle badge-success-soft ml-4">
                                                <i class="fe fe-check"></i>
                                            </div>
                                        </div>
                                        <div class="list-group-item d-flex align-items-center">
                                            <div class="mr-auto">
                                                <p class="font-weight-bold mb-1">
                                                    Atracción y variedad
                                                </p>
                                                <p class="font-size-sm text-muted mb-0">
                                                    Limite el tiempo de conexión de los clientes que visitan
                                                    su comercio
                                                </p>
                                            </div>
                                            <div class="badge badge-rounded-circle badge-success-soft ml-4">
                                                <i class="fe fe-check"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm card h-101" style="margin: 1%;padding-top: 25px;">
                            <h6 class="text-center">Perfecto para establecimientos</h6>
                            <div class="section-header">
                                <hr class="lines">
                            </div>
                            <div class="card card-border border-success shadow-lg"
                                style="border-color: transparent !important">
                                <div class="card-body">
                                    <div class="list-group list-group-flush">
                                        <div class="list-group-item d-flex align-items-center">
                                            <div class="mr-auto">
                                                <p class="font-weight-bold mb-1">
                                                    Hoteles
                                                </p>
                                                <p class="font-size-sm text-muted mb-0"></p>
                                            </div>
                                            <div class="badge badge-rounded-circle badge-success-soft ml-4">
                                                <i class="fe fe-check"></i>
                                            </div>
                                        </div>
                                        <div class="list-group-item d-flex align-items-center">
                                            <div class="mr-auto">
                                                <p class="font-weight-bold mb-1">
                                                    Restaurantes
                                                </p>
                                                <p class="font-size-sm text-muted mb-0"></p>
                                            </div>
                                            <div class="badge badge-rounded-circle badge-success-soft ml-4">
                                                <i class="fe fe-check"></i>
                                            </div>
                                        </div>
                                        <div class="list-group-item d-flex align-items-center">
                                            <div class="mr-auto">
                                                <p class="font-weight-bold mb-1">
                                                    Cafeterias
                                                </p>
                                                <p class="font-size-sm text-muted mb-0"></p>
                                            </div>
                                            <div class="badge badge-rounded-circle badge-success-soft ml-4">
                                                <i class="fe fe-check"></i>
                                            </div>
                                        </div>
                                        <div class="list-group-item d-flex align-items-center">
                                            <div class="mr-auto">
                                                <p class="font-weight-bold mb-1">
                                                    Bancos
                                                </p>
                                                <p class="font-size-sm text-muted mb-0"></p>
                                            </div>
                                            <div class="badge badge-rounded-circle badge-success-soft ml-4">
                                                <i class="fe fe-check"></i>
                                            </div>
                                        </div>
                                        <div class="list-group-item d-flex align-items-center">
                                            <div class="mr-auto">
                                                <p class="font-weight-bold mb-1">
                                                    Taller y Carwash
                                                </p>
                                                <p class="font-size-sm text-muted mb-0"></p>
                                            </div>
                                            <div class="badge badge-rounded-circle badge-success-soft ml-4">
                                                <i class="fe fe-check"></i>
                                            </div>
                                        </div>
                                        <div class="list-group-item d-flex align-items-center">
                                            <div class="mr-auto">
                                                <p class="font-weight-bold mb-1">
                                                    Barberias
                                                </p>
                                                <p class="font-size-sm text-muted mb-0"></p>
                                            </div>
                                            <div class="badge badge-rounded-circle badge-success-soft ml-4">
                                                <i class="fe fe-check"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm card h-101" style="margin: 1%;;padding-top: 25px;">
                            <h6 class="text-center">Útil en areas como</h6>
                            <div class="section-header">
                                <hr class="lines">
                            </div>
                            <div class="card card-border border-success shadow-lg"
                                style="border-color: transparent !important">
                                <div class="card-body">
                                    <div class="list-group list-group-flush">
                                        <div class="list-group-item d-flex align-items-center">
                                            <div class="mr-auto">
                                                <p class="font-weight-bold mb-1">
                                                    Servicio al cliente
                                                </p>
                                                <p class="font-size-sm text-muted mb-0">
                                                    Mientras atiende las inquietudes de sus usuarios
                                                </p>
                                            </div>
                                            <div class="badge badge-rounded-circle badge-success-soft ml-4">
                                                <i class="fe fe-check"></i>
                                            </div>
                                        </div>
                                        <div class="list-group-item d-flex align-items-center">
                                            <div class="mr-auto">
                                                <p class="font-weight-bold mb-1">
                                                    Actualización de datos
                                                </p>
                                                <p class="font-size-sm text-muted mb-0">
                                                    Comunicación con fluidez al actualizar, configurar y
                                                    confirmar datos.
                                                </p>
                                            </div>
                                            <div class="badge badge-rounded-circle badge-success-soft ml-4">
                                                <i class="fe fe-check"></i>
                                            </div>
                                        </div>
                                        <div class="list-group-item d-flex align-items-center">
                                            <div class="mr-auto">
                                                <p class="font-weight-bold mb-1">
                                                    Salas de espera
                                                </p>
                                                <p class="font-size-sm text-muted mb-0">
                                                    Haga que sus clientes se sientan cómodos y siempre se
                                                    mantengan comunicados
                                                </p>
                                            </div>
                                            <div class="badge badge-rounded-circle badge-success-soft ml-4">
                                                <i class="fe fe-check"></i>
                                            </div>
                                        </div>
                                        <div class="list-group-item d-flex align-items-center">
                                            <div class="mr-auto">
                                                <p class="font-weight-bold mb-1"></p>
                                                <p class="font-size-sm text-muted mb-0"></p>
                                            </div>
                                            <div class="badge badge-rounded-circle badge-success-soft ml-4">
                                                <i class="fe fe-check"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <br>
            </div>

        </div>
    </div>
</div>