<section id="services" class="section">
        <div class="container">
          <div class="section-header">          
            <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Como funciona</h2>
            <hr class="lines wow zoomIn" data-wow-delay="0.3s">
            <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Nuestra aplicación proporciona una interfaz gráfica amigable que se conecta a los diferentes routers para crear perfiles, usuarios y contraseña únicos para permitir la conexión a internet</p>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
                <div class="icon">
                  <i class="lnr lnr-cloud-download"></i>
                </div>
                <h4>Dispositivos</h4>
                <p>Kaz establece una conexión con los dispositivos MikroTik soportados.</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="item-boxes wow fadeInDown" data-wow-delay="0.8s">
                <div class="icon">
                  <i class="lnr lnr-users"></i>
                </div>
                <h4>Perfiles</h4>
                <p>Agrupe diferentes configuraciones de tiempo y velocidad de conexión.</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="item-boxes wow fadeInDown" data-wow-delay="1.2s">
                <div class="icon">
                  <i class="lnr lnr-user"></i>
                </div>
                <h4>Usuarios</h4>
                <p>Genere usuarios únicos, establezca contraseñas, imprima sus credenciales de acceso, desactive o bloquee cuando sea necesario.</p>
              </div>
            </div>
          </div>
        </div>
      </section>