<section id="blog" class="section" style="    background-color: #61D2B4;">
    <div class="container">
        <div class="section-header">
            <h2 class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">Últimos Artículos</h2>
            <hr class="lines">
            <p class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">Revise  nuestro boletines informativos en donde escribimos tanto del uso de Kaz como consejos de interés acerca redes inalámbricas y temas relacionados con el uso o seguridad de la misma.</p>
        </div>
    </div>
</section>