<section class="video-promo section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="video-promo-content text-center">
                    <h2 class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">Video demostrativo</h2>
                    <p class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">¿Aún tiene dudas? observe nuestro video a continuación y haga un recorrido a través de las pantallas de Kaz</p>
                    <a href="https://www.youtube.com/watch?v=IXoMDwh4Cq8" class="video-popup wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s"><i class="lnr lnr-film-play"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>