<!DOCTYPE html>
<html lang="es">

  <head>
    <% include partials/head %>
  </head>

  <body>
    <noscript>
      <strong>Lo sentimos, nuestro sitio web no funciona correctamente sin JavaScript habilitado. Por favor habilítelo para continuar.</strong>
    </noscript>
    <% include partials/menufaq%>
    <br>
    <br>
    <% include partials/about%>
    <div id="loader">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>
  </body>
  <% include partials/script %>
</html>