<div style="box-sizing:border-box;margin-bottom:2.5rem">
    <div style="box-sizing:border-box">
        <hr
            style="height:0;box-sizing:content-box;margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #eee">
        <div style="box-sizing:border-box;min-height:1px;padding-right:15px;padding-left:15px;margin-top:20px">
            <small style="box-sizing:border-box;font-size:85%">growits © 2019 | </small>
            <small style="box-sizing:border-box;font-size:85%"> <a href="https://www.kaz-wifi.com/faq">Ayuda</a> |
            </small>
            <small style="box-sizing:border-box;font-size:85%"> <a href="https://www.kaz-wifi.com/terminos">Condiciones
                    de uso</a></small>
        </div>
    </div>
</div>